<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dato.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dato.email %>
</p>

<p>
  <strong>Totalingress:</strong>
  <%= @dato.totalIngress %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @dato.sector %>
</p>

<p>
  <strong>Workyears:</strong>
  <%= @dato.workYears %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @dato.amount %>
</p>

<p>
  <strong>Frecuency:</strong>
  <%= @dato.frecuency %>
</p>

<p>
  <strong>Paytime:</strong>
  <%= @dato.payTime %>
</p>

<%= link_to 'Back', datos_path %>
